n8n-workflows/ashby.json
{
  "name": "Ashby Job Ingestion",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "hours", "hoursInterval": 6 }] } },
      "id": "schedule-ashby",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-400, 0]
    },
    {
      "parameters": {
        "jsCode": "// Ashby public job board API — no auth required.\n// GraphQL POST to https://jobs.ashbyhq.com/api/non-authenticated-graphql\n// Add company slugs here. Find slugs at: https://jobs.ashbyhq.com/{slug}\nconst companies = [\n  'vercel',\n  'linear',\n  'clerk',\n  'posthog',\n  'cal.com',\n  'resend',\n  'novu',\n  'trigger.dev',\n  'liveblocks',\n  'raycast',\n  'plain',\n  'incident.io',\n  'sequin',\n  'knock',\n  'infisical',\n];\nreturn companies.map(slug => ({ json: { slug } }));"
      },
      "id": "companies-ashby",
      "name": "Companies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-176, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://jobs.ashbyhq.com/api/non-authenticated-graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={ \"operationName\": \"ApiJobBoardWithTeams\", \"variables\": { \"organizationHostedJobsPageName\": \"{{ $json.slug }}\" }, \"query\": \"query ApiJobBoardWithTeams($organizationHostedJobsPageName: String!) { jobBoard: jobBoardWithTeams(organizationHostedJobsPageName: $organizationHostedJobsPageName) { jobPostings { id title locationName isRemote descriptionHtml employmentType updatedAt jobRequisition { department { name } } } } }\" }",
        "options": { "timeout": 15000 }
      },
      "id": "fetch-ashby",
      "name": "Fetch Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [48, 0],
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "function stripHtml(html) {\n  return (html || '').replace(/<[^>]*>/g, ' ').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&nbsp;/g, ' ').replace(/&#39;/g, \"'\").replace(/&quot;/g, '\"').replace(/\\s+/g, ' ').trim();\n}\nconst postings = (($json.data || {}).jobBoard || {}).jobPostings || [];\n// Get the company slug from the paired Companies node item\nconst companySlug = ($('Companies').item.json.slug || '');\nreturn postings.map(j => ({\n  json: {\n    source: 'ashby',\n    external_id: String(j.id ?? ''),\n    company: companySlug,\n    title: (j.title || '').trim(),\n    location: j.locationName || '',\n    remote: j.isRemote ? 'remote' : 'unknown',\n    url: 'https://jobs.ashbyhq.com/' + companySlug + '/' + j.id,\n    description: stripHtml(j.descriptionHtml || '').slice(0, 8000),\n    posted_at: j.updatedAt || null,\n  }\n}));"
      },
      "id": "normalize-ashby",
      "name": "Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [272, 0]
    },
    {
      "parameters": {
        "jsCode": "function simpleHash(str) {\n  let hash = 0;\n  for (let i = 0; i < str.length; i++) {\n    hash = ((hash << 5) - hash) + str.charCodeAt(i);\n    hash |= 0;\n  }\n  return Math.abs(hash).toString(16).padStart(8, '0');\n}\nreturn items.map(({ json }) => {\n  const base = [json.source, json.external_id, json.company, json.title, json.url].join('|');\n  return { json: { ...json, content_hash: simpleHash(base) } };\n});"
      },
      "id": "hash-ashby",
      "name": "Hash",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [496, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://matchpilot-production-a08d.up.railway.app/api/ingest",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "source",       "value": "={{ $json.source }}" },
            { "name": "external_id",  "value": "={{ $json.external_id }}" },
            { "name": "company",      "value": "={{ $json.company }}" },
            { "name": "title",        "value": "={{ $json.title }}" },
            { "name": "location",     "value": "={{ $json.location }}" },
            { "name": "remote",       "value": "={{ $json.remote }}" },
            { "name": "url",          "value": "={{ $json.url }}" },
            { "name": "description",  "value": "={{ $json.description }}" },
            { "name": "posted_at",    "value": "={{ $json.posted_at }}" },
            { "name": "content_hash", "value": "={{ $json.content_hash }}" }
          ]
        },
        "options": { "timeout": 15000 }
      },
      "id": "ingest-ashby",
      "name": "Ingest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 0],
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": { "jsCode": "return Array.from({length: 100}, (_, i) => ({ json: { i } }));" },
      "id": "loop-ashby",
      "name": "Loop 100",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [944, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://matchpilot-production-a08d.up.railway.app/api/worker/score",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "x-worker-secret", "value": "3eb2bf26e739c83044d5b6c7ea851c4e4c7e6f58afd401f267fa98f78445e6bf" }] },
        "options": { "timeout": 60000 }
      },
      "id": "worker-ashby",
      "name": "Trigger Worker",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1168, 0],
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "Companies", "type": "main", "index": 0 }]] },
    "Companies":        { "main": [[{ "node": "Fetch Jobs", "type": "main", "index": 0 }]] },
    "Fetch Jobs":       { "main": [[{ "node": "Normalize", "type": "main", "index": 0 }]] },
    "Normalize":        { "main": [[{ "node": "Hash", "type": "main", "index": 0 }]] },
    "Hash":             { "main": [[{ "node": "Ingest", "type": "main", "index": 0 }]] },
    "Ingest":           { "main": [[{ "node": "Loop 100", "type": "main", "index": 0 }]] },
    "Loop 100":         { "main": [[{ "node": "Trigger Worker", "type": "main", "index": 0 }]] }
  }
}
