n8n-workflows/jobicy.json
{
  "name": "Jobicy Job Ingestion",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "hours", "hoursInterval": 6 }] } },
      "id": "schedule-jobicy",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-400, 0]
    },
    {
      "parameters": {
        "url": "https://jobicy.com/api/v2/remote-jobs?count=50&tag=engineer",
        "options": {}
      },
      "id": "fetch-jobicy",
      "name": "Fetch Jobicy Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-176, 0]
    },
    {
      "parameters": {
        "jsCode": "const jobs = $json.jobs || [];\nreturn jobs.map(j => ({\n  json: {\n    source: 'jobicy',\n    external_id: String(j.id ?? ''),\n    company: j.companyName || '',\n    title: j.jobTitle || '',\n    location: j.jobGeo || 'remote',\n    remote: 'remote',\n    url: j.url || '',\n    description: (j.jobDescription || '').replace(/<[^>]*>/g, '').slice(0, 5000),\n    posted_at: j.pubDate ? new Date(j.pubDate).toISOString() : null,\n  }\n}));"
      },
      "id": "normalize-jobicy",
      "name": "Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [48, 0]
    },
    {
      "parameters": {
        "jsCode": "function simpleHash(str) {\n  let hash = 0;\n  for (let i = 0; i < str.length; i++) {\n    hash = ((hash << 5) - hash) + str.charCodeAt(i);\n    hash |= 0;\n  }\n  return Math.abs(hash).toString(16).padStart(8, '0');\n}\nreturn items.map(({ json }) => {\n  const base = [json.source, json.external_id, json.company, json.title, json.url].join('|');\n  return { json: { ...json, content_hash: simpleHash(base) } };\n});"
      },
      "id": "hash-jobicy",
      "name": "Hash",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [272, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO jobs_raw (\n  external_id, company, title, location, remote, url, description, posted_at, source, content_hash\n) VALUES (\n  {{$json.external_id}},\n  '{{$json.company}}',\n  '{{$json.title}}',\n  '{{$json.location}}',\n  '{{$json.remote}}',\n  '{{$json.url}}',\n  '{{ $json.description.replace(/'/g, \"''\") }}',\n  '{{$json.posted_at}}',\n  '{{$json.source}}',\n  '{{$json.content_hash}}'\n)\nON CONFLICT (content_hash) DO NOTHING;\n\nINSERT INTO jobs_queue (job_id, status, attempts)\nSELECT id, 'pending', 0 FROM jobs_raw WHERE content_hash = '{{$json.content_hash}}'\nON CONFLICT DO NOTHING;",
        "options": {}
      },
      "id": "insert-jobicy",
      "name": "Insert into Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [496, 0],
      "credentials": { "postgres": { "id": "5uGHZggZJZUexMBJ", "name": "Postgres account" } }
    },
    {
      "parameters": { "jsCode": "return Array.from({length: 100}, (_, i) => ({ json: { i } }));" },
      "id": "loop-jobicy",
      "name": "Loop 100",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://matchpilot-production-a08d.up.railway.app/api/worker/score",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "x-worker-secret", "value": "3eb2bf26e739c83044d5b6c7ea851c4e4c7e6f58afd401f267fa98f78445e6bf" }] },
        "options": { "timeout": 60000 }
      },
      "id": "worker-jobicy",
      "name": "Trigger Worker",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [944, 0],
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "Fetch Jobicy Jobs", "type": "main", "index": 0 }]] },
    "Fetch Jobicy Jobs": { "main": [[{ "node": "Normalize", "type": "main", "index": 0 }]] },
    "Normalize": { "main": [[{ "node": "Hash", "type": "main", "index": 0 }]] },
    "Hash": { "main": [[{ "node": "Insert into Postgres", "type": "main", "index": 0 }]] },
    "Insert into Postgres": { "main": [[{ "node": "Loop 100", "type": "main", "index": 0 }]] },
    "Loop 100": { "main": [[{ "node": "Trigger Worker", "type": "main", "index": 0 }]] }
  }
}
